# **Conditional Statement**

Conditional Statements:

* If Statement
* If else
* Nested If

In [1]:
# If Statement
# if condition:
  #block of code

emp = 101
if emp > 100:
  print("emp belongs to sales dept")

emp belongs to sales dept

In [2]:
employee =30000
if employee < 40000:
  print("employee belongs to grade B")

employee belongs to grade B

In [3]:
#Emp belongs to id 101 takes leave on Monday
Emp = 101
if Emp == 101:
  print("employee belongs to id 101 takes leave on Monday")

employee belongs to id 101 takes leave on Monday

In [4]:
Emp = 101
if Emp <101:
  print("employee belongs to id 101 takes leave on Monday")

In [5]:
# if else statement
# if <expression>:
  #<condition>
#else:
  #<statement>

branch = "sales"
if branch == "HR":
  print("Employee is from different dept")
else:
  print("Employee belongs to same dept")

Employee belongs to same dept

In [6]:
# age = 30 then consider as senior or consider as a fresher
age = 30

if age == 30:
  print("Senior")
else:
  print("Fresher")

Senior

In [7]:
# if-elif
color = "White"
if color == "Red":
  print("color is Red")
elif color == "Blue":
  print("color is Blue")
elif color == "Black":
  print("color is Black")
else:
  print("color is not present")

color is not present

In [8]:
# for loop

names = ["John","Maria","Daniel"]
for name in names:
  print(name)
  if name == "Maria":
    break

John
Maria

In [9]:
names = ["John","Maria","Daniel"]
for name in names:
  if name == "Maria":
    continue
  print(names)

['John', 'Maria', 'Daniel']
['John', 'Maria', 'Daniel']